@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* CSS Variables */
:root {
  --primary-color: #256d7b;
  --primary-color-hover: #2e889a;
  --secondary-color: #1e5762;
  --secondary-color-hover: #1f4851;
  --light-color: #f4f4f4;
  --dark-color: #252529;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #252529;
  margin: 0;
  color: #fff;
  line-height: 1.6;


}
.drop{
  color:#256d7b;
}
.show-on-small{
  visibility: hidden!important;
}
.card img{

    position: relative;
    float: left;
    width:  100rem;
    height: 14rem;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}
.card-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;

}
.card-container-team{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;

}
.card-container-team .card{
  background-color:#252529;

}
.card-container-team .card, h1{
  color:#eee;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #dadada;
  color:var(--primary-color);

}
.card img:hover{
  opacity: .4;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #ccc;
  background-color: var(--secondary-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.gallery-img img:hover{
  opacity: .4;


}

button:hover, a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #ccc;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

section#entertainment {
  background: url(../img/goodpump1.jpg) no-repeat bottom/cover;
  padding: 10rem 0;
}

.gift-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

/* Showcase */
#showcase {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;

}
#showcase::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url('../img/windmill2.jpg') ;
  background-size: cover;
  opacity: 0.6;




}

#showcase .container {
  margin-top: 25vh;
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 2rem;
}
/* showcase-1*/
#showcase-1 {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;

}
#showcase-1::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url('../img/gallery1.png') ;
  background-size: cover;
  background-repeat:no-repeat;
  opacity: 0.9;
  background-position: top;
  background-color: var(--dark-color);
}


#showcase-1 .container {
  margin-top: 25vh;
}

#showcase-1 h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase-1 h2 {
  font-size: 2rem;
}

/* Footer */
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-bottom {
  background: #333;
  padding: 1rem;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text colors */
span{
  color:#FF8C00;
}
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}
.bg-dark{
  background: var(--dark-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  z-index: 44;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
.active a{
  background-color:;
  color:var(--primary-color);
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small{
    visibility: visible!important
  }
  .drop-big{
    height:35px;
  }
  .card-container, .card-container-team{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;

  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: auto;
    text-align: center;
  }

  #showcase {
    height: 75vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: '|||';
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

@media screen and (max-width: 780px) {
  .gift-cards {
    grid-template-columns: 1fr;
  }
  #portfolio-gal {
      margin: 1rem 0;
      -webkit-column-count: 2!important;
      -moz-column-count: 2!important;
      column-count: 2!important;

  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}


/*img gallery*/





#portfolio-gal {
    margin: 1rem 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    max-width: 75vw;;
    float: none;
    margin: auto;
}




.tile{
  overflow:hidden;


}
.tile img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}
.tile img:hover{


	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: .6;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
